<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
<title>mercado liebre</title>
</head>
<body>
    <header>
        <section class="logo">
            <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo Mercado Liebre">
        </section>

    <section class="barra">
        <input type="search" placeholder="Buscar productos,marcas...">
        </section>
    <section>
        <div class="buscador">
            <i class="fas fa-search"></i>
        </div>
    </section>  
     <h5><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</h5>
    
     <nav>
<ul class="opcionesA">
    <li type="none"><a href ="#">ofertas</a></li>
    <li type="none"><a href ="#">tiendas oficiales</a></li>
    <li type="none"><a href ="#">vender</a></li>
</ul>
<ul class="opcionesB">
<li type="none"><a href="/register">crea tu cuenta</a><i class="far fa-id-card"></i>
<li type="none"><a href="/login">ingresá</a><i class="fas fa-sign-in-alt"></i>
<li type="none"><a href="#">mis compras</a><i class="fas fa-shopping-basket"></i>
    </ul>
</nav>
<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
    </header>
    <section class="banner">
            <img src="/images/img-home-banner.jpg"  width="100%"  alt="banner de promociones">
        </section>
    <main>
        <h2>Basado en tu última visita</h2>
        <div class="contenedor-articulo">
        <div class="caja-for">
        <div class="caja-top">
        <article class="articulo">
            <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="cafetera">
            <div class="cajita-truck">
            <div class="truck">
            <i class="fas fa-truck"></i>
            </div>
            </div>
            <div class="descripcion">
            <p class="precio">$6.770</p> 
            <p class="descuento"> 40% off</p> 
            </div>
            <p class="producto"> Cafetera moulinex</p>
        </article>
        <article class="articulo">
            <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="macbook">
            <div class="truck">
                <i class="fas fa-truck"></i>
            </div>
            <div class="descripcion">    
            <p class="precio"> $230.000</p>
            <p class="descuento"> 20% off</p>
            </div>
            <p class="producto"> macbook pro 2019</p>
        </article>
        </div>
            </article>
            <div class="caja-top">
            <article class="articulo">
            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="samsung galaxy s10">
            <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
            <div class="descripcion">    
            <p class="precio">$70.500</p>
            <p class="descuento"> 10% off</p>
            </div>
            <p class="producto"> samsung galaxy s10</p>
            </article>
            <article class="articulo">
            <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="smart tv">
            <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
            <div class="descripcion">
            <p class="precio">$23.200</p>
            <p class="descuento"> 5% off</p>
            </div>
            <p class="producto"> smart tv samsung 43"</p>
            </article>
            </div>
        </div>
        </article>
        <h2> Sección de ofertas</h2>
        <div class="caja-for">
        <div class="caja-top">
        <article class="articulo">
            <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="cafetera">
            <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
            <div class="descripcion">  
            <p class="precio">$6.770</p> 
            <p class="descuento"> 40% off</p> 
            </div>
            <p class="producto"> Cafetera moulinex</p>
        </article>
        <article class="articulo">    
            <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="macbook">
            <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
            <div class="descripcion">    
            <p class="precio"> $230.000</p>
            <p class="descuento"> 20% off</p>
            </div>
            <p class="producto"> macbook pro 2019</p>
        </article>
        </div>
        <div class="caja-top">
        <article class="articulo">    
            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="samsung galaxy s10">
            <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
            <div class="descripcion">    
            <p class="precio">$70.500</p>
            <p class="descuento"> 10% off</p>
            </div>
            <p class="producto"> samsung galaxy s10</p>
            </article>
            <article class="articulo">
            <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="smart tv">
            <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
            <div class="descripcion">
            <p class="precio">$23.200</p>
            <p class="descuento"> 5% off</p>
            </div>
            <p class="producto"> smart tv samsung 43"</p>
        </article>
        </div>
        </div>
    </div>
    </main>
    <footer>
        <div class="contenedor-pie">
        <div class="caja-pie">
        <div class="icono-footer">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tajeta o con efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin<br>interés con tarjeta o efectivo en puntos de <br>pago. ¡Y siempre es seguro! </p>
        </div>
        </div>
        <div class="caja-pie">
        <div class="icono-footer">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500 </h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br> productos. Es un beneficio de Mercado Puntos. </p>
        </div>
        </div>
        <div class="caja-pie">
        <div class="icono-footer">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br> porque estás siempre protegid@.</p>
        </div>
        </div>
    </div>
        <div class="derechos">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L</h3>
        </div>
    </footer>
    
</body>
</html>