<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>
<body>
    <header>
        <section>
            <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo Mercado Liebre">
        </section>

    <nav>lugar para poner barra de busqueda</nav> 
<h1>compra en cuotas y sin tarjeta de credito</h1>
<ul>
    <li><a href ="#">ofertas</a></li>
    <li><a href ="#">tiendas oficiales</a></li>
    <li><a href ="#">vender</a></li>
</ul>
<section>
    <ul>
<li><a href="#">crea tu cuenta</a></li>
<li><a href="#">ingresá</a></li>
<li><a href="#">mis compras</a></li>
    </ul>
</section>
    </header>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg"  width="300 "  alt="banner de promociones">
        </section>
        <h2>Basado en tu última visita</h2>
        <section>
            <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="cafetera">
            <p> $6.770</p> 
            <p>40% off</p> 
            <p><b>Cafetera moulinex</b></p>
            <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="macbook">
            <p>$230.000</p>
            <p>20% off</p>
            <p><b>macbook pro 2019</b></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="samsung galaxy s10">
            <p>$70.500</p>
            <p>10% off</p>
            <p><b>samsung galaxy s10</b></p>
            <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="smart tv">
            <p>$23.200</p>
            <p>5% off</p>
            <p><b> smart tv samsung 43"</b></p>
        </section>
        <h2>Sección de ofertas</h2>
        <section><img src="/images/img-cafetera-moulinex.jpg" width="300" alt="cafetera">
            <p> $6.770</p> 
            <p>40% off</p> 
            <p><b>Cafetera moulinex</b></p>
            <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="macbook">
            <p>$230.000</p>
            <p>20% off</p>
            <p><b>macbook pro 2019</b></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="samsung galaxy s10">
            <p>$70.500</p>
            <p>10% off</p>
            <p><b>samsung galaxy s10</b></p>
            <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="smart tv">
            <p>$23.200</p>
            <p>5% off</p>
            <p><b> smart tv samsung 43"</b></p>

        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tajeta o con efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin<br>interés con tarjeta o efectivo en puntos de <br>pago. ¡Y siempre es seguro! </p>
            </section>
        <section>
            <h3>Envío gratis desde $ 2.500 </h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br> productos. Es un beneficio de Mercado Puntos. </p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br> porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L</h3>
        </section>
    </footer>
    
</body>
</html>