<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2? family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    <title>mercado liebre</title>
    </head>
    <body>
        <header>
            <section class="logo">
                <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo Mercado Liebre">
            </section>
    
        <section class="barra">
            <input type="search" placeholder="Buscar productos,marcas...">
            </section>
        <section>
            <div class="buscador">
                <i class="fas fa-search"></i>
            </div>
        </section>  
         <h5><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</h5>
        
         <nav>
    <ul class="opcionesA">
        <li type="none"><a href ="#">ofertas</a></li>
        <li type="none"><a href ="#">tiendas oficiales</a></li>
        <li type="none"><a href ="#">vender</a></li>
    </ul>
    <ul class="opcionesB">
    <li type="none"><a href="/register">crea tu cuenta</a><i class="far fa-id-card"></i>
    <li type="none"><a href="/login">ingresá</a><i class="fas fa-sign-in-alt"></i>
    <li type="none"><a href="#">mis compras</a><i class="fas fa-shopping-basket"></i>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
        </header>

     <form action="/home.html" method="post" class="formulario">
        <div class="control-formulario">
            <label for="nombre">Nombre y apellido:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Ej:juanita" required>
        </div>

        <div class="control-formulario">
            <label for="nombre">Nombre de usuari@:</label>
            <input type="text" name="usuario" id="usuario" placeholder="usuari@" required >
        </div>
        
        <div class="control-formulario">
            <label for="nombre">Fecha de nacimiento</label>
            <input type="date" name="fecha" id="fecha" min="1980-01-01" max="2010-01-01" placeholder="mm/dd/yyy" required>
        </div>

        <div class="control-formulario">   
            <label for="nombre">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" placeholder="# cl" required>
        </div>
        
        <div class="control-formulario">
            <label>Perfil de ususario:</label>
            <label class="titulo">Comprador</label>
            <input type="radio" name="tipo-de-usuario" value="Comprador" >
            <label class="titulo">Vendedor</label>
            <input type="radio" name="tipo-de-usuario" value="Vendedor">
        </div>

        <div class="control-formulario">
            <label>Categorias de interés</label>
            <label>Electro</label>
            <input type="checkbox" name="interes" value="Electro">
            <label>Moda</label>
            <input type="checkbox" name="interes" value="Moda">
            <label>Hogar</label>
            <input type="checkbox" name="interes" value="hogar">
            <label>Jugueteria</label>
            <input type="checkbox" name="interes" value="Jugueteria">
            <label>Vida Sanar</label>
            <input type="checkbox" name="interes" value="Vida-Sana">
        </div>  

        <div class="control-formulario">
            <label>Foto de usuario</label>
            <input type="file" name="foto-avatar">
        </div>

        <div class="control-formulario">
            <label>Contraseña</label>
            <input type="password" name="password" required>
        </div>

        <div class="control-formulario">
            <label>Confirmar Contraseña</label>
            <input type="password" name="password" required>
        </div>
        
        <div class="botones">
            <button type="submit" class="button-final">Enviar</button>
            <button type="reset" class="button-final">Borrar</button>
        </div>    
        </form>
    




